html {
  margin: 0;
  font-family: 'Source Code Pro', monospace;
  width: auto;
  margin: 0;

  text-decoration: none;
}

.bg-color {
  background-color: #797fff;
  color: white;
  border-radius: 5px;
  padding-bottom: 5%;
}


h1 {
  margin: 5% 0 2% 10%;

}

p {
  text-align: left;
  overflow: hidden
}

img {
  border-radius: 15px;
}


/* for carousel */
.splide__slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}



.splide__slide {
  opacity: 0.6;
}

.splide__slide.is-active {
  opacity: 1;
}

/* flexbox for proj info */
* {
  margin: 0;
  margin: 0;
  box-sizing: border-box;
}

.container1 {
  /* Aligns the children items in a row direction */
  display: flex;
  /* margin-left: 10%; */
  margin-right: 10%;
}

.child1 {
  max-height: 400px;
  max-width: 400px;
}

.child2 {
  width: 70%;
  margin-left: 10%;
}

/* flex container for artist info */
.container2 {
  display: flex;
  /* margin-left: 10%; */
  margin-right: 10%;
  margin-top: 10%;
}

.child2-1 {
  width: 70%;
}

.child2-2 {
  /* width: 30%; */
  margin-left: 10%;
}

.artist_profile {
  max-height: 400px;
}

/* flex container for nav and content */
.container3 {
  display: flex;
  /* margin-left: 10%; */
  /* margin-right: 10%; */
  margin-top: 5%;
}


/* button */
button {
  background-color: #4be6cf;
  border: none;
  border-radius: 8px;
  color: #34376e;
  display: block;
  font-size: 18px;
  margin: auto;
  padding: 16px 32px;
  position: relative;
  text-align: center;
  text-decoration: none;
  top: 11%;
}