html {
  font-family: 'Source Code Pro', monospace;
  width: auto;
  background-color: #F1EFDC;
  margin: 0;
  line-height: normal;
}

.bg-color {
  background-color: #797fff;
  color: white;
  border-radius: 5px;
  padding-bottom: 5%;
}


h1 {
  margin: 5% 0 2% 10%;

}

img {
  border-radius: 15px;
}

.rowsection {
  width: 35em;
  margin-left: auto;
  margin-right: auto;
}


/* for carousel */
.splide__slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* flexbox for proj info */
* {
  margin: 0;
  margin: 0;
  box-sizing: border-box;
}

.container1 {
  /* Aligns the children items in a row direction */
  display: flex;
  margin-left: 10%;
  margin-right: 10%;
}

.child1 {
  width: 30%;
  height: 250px;
}

.child2 {
  width: 70%;
  margin-left: 10%;
}

/* flex container for artist info */
.container2 {
  /* Aligns the children items in a row direction */
  display: flex;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 5%;
}

.child2-1 {
  width: 70%;
}

.child2-2 {
  width: 30%;
  margin-left: 10%;
}

.artist_profile {
  max-height: 200px;
}